* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 1px solid red;*/
}

body {
    display: flex;
    flex-direction: column;
}

/*Header Styles*/
.header-container {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
}

.header {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    width: 900px;
    height: 75px;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
}

li {
    padding: 3px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px; 
}

.icon {
    width: auto;
    height: 70px;
    border-radius: 50%;
    background-color: #F9FAF8;
}

/*Hero Styles*/
.hero {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    padding-top: 50px;
    padding-bottom: 50px;
}

.hero-text-container {
    width: 450px;
}

.hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

.hero-secondary-text {
    font-size: 18px;
    padding-top: 5px;
    color: #E5E7EB;
}

.hero-button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
    width: 125px;
    height: 25px;
    height: auto;
    margin-top: 5px;
    margin-left: -3px;
}

.hero-button-text {
    font-size: 18px;
    padding: 5px;
}

.hero-img-container {
    width: 450px;
}

.hero-img {
    width: 450px;
    height: auto;
    background-color: white;
    border-radius: 5%;
}

/*Information styles*/

.info-container {
    display: flex;
    justify-content: center;
    background-color: white;
}

.info {
    
    width: 800px;
}

.info-main-text {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding-top: 20px;
    padding-bottom: 20px;
}

.box-grid {
    display: flex;
    justify-content: space-around;
    width: 800px;
}

.box{
    width: 175px;
}

.box img {
    border: 2px solid #3882F6;
    width: 175px;
    height: 175px;
    border-radius: 15%;
}

.box p {
    font-size: 16px;
    color: #1f2937;
    padding-top: 5px;
    text-align: center;
}

/*Quote styles*/
.quote-container {
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.quote {
    width: 900px;
}

.quote-text {
    width: 600px;
}

.quote-text p {
    font-size: 36px;
    color: #1F2937;
}

#citation {
    text-align: end;
    font-size: 24px;
    padding-right: 10px;
}

.quote-img {
    width: 300px;
}

.quote-img img {
    width: 300px;
    border-radius: 15%;
}

/*Call styles*/

.call-container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 400px;
}

.call {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    border-radius: 10px;
    width: 900px;
    height: 150px;
}

.call-text {
    width: 400px;
    align-items: center;
    align-content: center;
    padding: 10px;
}

.call-title {
    color: #E5E7EB;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 5px;
}

.call-content {
    color: #EAEFF2;
    font-size: 14px;
}

.call-button {
    background-color: #3882F6;
    color: #E5E7EB;
    border: 2px solid #E5E7EB;
    border-radius: 10px;
    width: 150px;
    height: 45px;
}