* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

body {
    display: flex;
    flex-direction: column;
}

.header-container {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
}

.header {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    width: 900px;
    height: 75px;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
}

li {
    padding: 3px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.icon {
    width: auto;
    height: 70px;
    border-radius: 50%;
}